body {
  font-family: "Metropolis", sans-serif;
}

.header {
  padding-top: 2px;
  padding-bottom: 2px;
  border-bottom: 1px solid #ebf2f2;
}

.navbar-link {
  font-weight: 600;
  font-size: 0.95rem;
}

.navbar-menu-desktop .navbar-link:not(.is-arrowless):after {
  border-bottom: 2px solid #111;
  border-left: 2px solid #111;
  border-radius: 1px;
  height: 0.4rem;
  width: 0.4rem;
}

.navbar-link:not(.is-arrowless):after {
  border-color: #485fc7;
  margin-top: -0.375em;
  right: 0.5em;
}

.navbar-link:not(.is-arrowless):after,
.select:not(.is-multiple):not(.is-loading):after {
  border: 3px solid transparent;
  border-radius: 2px;
  border-right: 0;
  border-top: 0;
  content: " ";
  display: block;
  height: 0.625em;
  margin-top: -0.6em;
  pointer-events: none;
  position: absolute;
  top: 60%;
  transform: rotate(-45deg);
  transform-origin: center;
  width: 0.625em;
}

.navbar-burger {
  color: #4a4a4a;
  position: absolute;
  top: 0;
  right: 28;
  z-index: 10;
}

.navbar-desktop {
  display: flex;
  flex: 1;
  justify-content: center;
  align-items: center;
}

.navbar-menu-desktop {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.has-dropdown > span {
  height: 100%;
  display: flex;
  align-items: center;
  padding: 0.5rem 0.75rem;
}

.navbar-item {
  padding: 0.5rem 0.75rem;
  position: relative;
  align-items: center;
  display: flex;
}

.navbar-menu-desktop div.navbar-item {
  font-size: 0.8rem;
}

a.navbar-item {
  color: #111;
  transition: color 0.5s ease;
}

a.navbar-item:hover {
  color: #8fdf82;
}

.navbar-dropdown .navbar-item {
  padding: 0.375rem 1rem;
  padding-right: 3rem;
  display: block;
}

.logo {
  width: 300px;
}

.logo .st0,
.logo .st1 {
  fill: #6cb52d;
}

.logo .st3 {
  fill: #fff;
}

.pt-4 {
  padding-top: 1rem !important;
  font-family: "Open Sans", sans-serif;
}

.svg-inline--fa {
  margin-left: 8px;
  height: 1em;
}

.hero {
  display: flex;
  flex-direction: column;
}

.hero h1 {
  margin-top: 40px;
}

h1 {
  font-weight: bold;
}

a {
  color: #000000;
  text-decoration: none;
}

a.box.is-special:focus,
a.box.is-special:hover {
  box-shadow: 0 10px 20px 0 rgba(108, 135, 135, 0.2);
  text-decoration: none;
  top: -3px;
  transform: translateY(-3px);
}

a.box.is-special {
  box-shadow: none;
  box-shadow: 0 0 0 rgba(108, 135, 135, 0.2);
  transform: translateY(0);
  transition: all 0.2s;
}

.main a:hover {
  text-decoration: underline;
}

.container {
  margin: 0 auto;
}

a:hover {
  color: #000000;
  text-decoration: none;
}

.py-3 {
  padding-left: 12px;
  padding-right: 12px;
  font-family: "Open Sans", sans-serif;
}

.py-6 {
  padding-bottom: 3rem !important;
  padding-top: 3rem !important;
}

.project-info h1 {
  font-size: 1.5rem;
}

.my-6 {
  margin-bottom: 3rem !important;
  margin-top: 3rem !important;
}

.my-6 h1 {
  font-size: 3.5rem;
  margin-top: 40px;
}

.description {
  font-family: "Open Sans", sans-serif;
  line-height: 2.2rem;
  margin-top: 20px;
  font-size: 1.5rem;
  max-width: 960px;
}

.is-hidden-desktop {
  display: none !important;
}

.has-background-light {
  background-color: #ebf2f2 !important;
}

.list {
  display: flex;
  flex-wrap: wrap;

  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  max-width: 82.5%;
}

.item {
  display: block;
  background-color: #ffffff;
  padding: 30px 20px;
  border-radius: 3px;
  border-bottom-left-radius: 3px;
  border-bottom-right-radius: 3px;
}

.columns {
  margin-left: 84px;
  margin-right: 84px;
}

article {
  flex-basis: 40%;
  flex-grow: 1;
  padding: 0.75rem;
  display: flex;
}

.project-item {
  display: flex;
  gap: 20px;
}

.project-item > .image {
  flex: 1 1;
  min-width: 120px;
  text-align: center;
}

.project-item > .image > img {
  height: 120px;
  max-width: 120px;
}

.py-3 {
  padding: 0.75em 0;
  line-height: 1.7rem;
  font-family:
    Open Sans,
    sans-serif;
}

.button.is-spring {
  text-transform: uppercase;
  background: transparent;
  border: 2px solid #111;
  display: inline-block;
  font-size: 0.9rem;
  font-weight: 700;
  height: auto;
  line-height: 20px;
  overflow: hidden;
  padding: 15px 30px;
  position: relative;
  cursor: pointer;
  transition: color 0.2s ease-in-out;
  z-index: 0;
}

.button.is-spring::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #191e1e;
  transform: translateX(-100%);
  transition: transform 0.3s ease;
  z-index: -1;
}

.button.is-spring:hover {
  color: white;
}

.button.is-spring:hover::before {
  transform: translateX(0);
}

@media (min-width: 1001px) {
  .navbar-dropdown {
    position: absolute;
    top: calc(100%);
    display: none;
    opacity: 0;
    background-color: #fff;
    border: 0;
    box-shadow: 0 5px 30px 0 rgba(108, 135, 135, 0.5);
    font-size: 1rem;
    padding: 1rem;
    border-radius: 6px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    z-index: 99;
    white-space: nowrap;
  }

  .navbar-item:hover > .navbar-dropdown {
    display: block;
    opacity: 1;
    transition: all 0.3s;
  }

  .mb-5 {
    color: #086dc3 !important;
    margin-bottom: 24px;
  }
  a.navbar-item {
    font-family: "Open Sans", sans-serif;
  }
  li {
    height: 36px;
  }
}

@media (max-width: 1000px) {
  .is-hidden-desktop {
    display: block !important;
  }

  .is-hidden-mobile {
    display: none !important;
  }

  .header {
    position: fixed;
    width: 100%;
    z-index: 999;
    background: white;
  }

  .main {
    padding-top: 52px;
  }

  .project-item {
    flex-direction: column;
  }

  .columns {
    margin-left: 82px;
    margin-right: 82px;
  }

  .logo {
    width: 200px;
  }

  #navMenu {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: #191e1e;
    transform: translateY(-100%);
    transition: transform 0.3s ease;
    z-index: 9;
    color: #fff;
    overflow-y: auto;
  }

  .navbar-link {
    font-size: 2rem;
    font-family: "Open Sans", sans-serif;
    font-weight: 400 !important;
    color: #fff;
  }
  .has-dropdown > span {
    border-bottom: 1px solid hsla(0, 0%, 100%, 0.4);
    display: block;
    height: 60px;
    margin: 1rem 0;
    padding: 0;
    position: relative;
  }
  .navbar-menu-mobile {
    padding: 3rem !important;
  }

  .navbar-item.has-dropdown {
    padding: 0px;
    display: inline;
  }

  .navbar-dropdown {
    display: none;
    position: static;
    background-color: unset;
    box-shadow: none;
    padding: 0px;
    border-radius: unset;
  }

  .navbar-burger:active {
    color: #fff;
  }

  .navbar-link:hover {
    color: #6db33f;
  }

  a.navbar-item:hover {
    color: #6db33f;
  }

  .subitems-show > .navbar-dropdown {
    display: block;
  }

  a.navbar-item {
    color: #98afae;
    font-size: 1.2rem;
    padding: 0 0 !important;
    font-family: "Open Sans", sans-serif;
    height: 35px;
  }
  .mb-5 {
    color: #98afae !important;
    font-family: "Open Sans", sans-serif;
    margin-bottom: 24px;
  }

  div.navbar-menu-mobile {
  }

  .navbar-menu-mobile div.navbar-item {
    font-size: 19.2px;
    padding: 0px 0px;
    color: #98afae;
    font-family: "Open Sans", sans-serif;
    height: 35px;
  }
  .header {
    padding: 8px 12px;
  }
  span.navbar-link {
    height: 59px;
  }
  .navbar-link:not(.is-arrowless):after {
    border: solid #98afae;
    border-width: 0 0 3px 3px;
    scale: 0.7;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .columns {
    margin-left: 82px;
    margin-right: 82px;
  }
}

@media (max-width: 900px) {
  .my-6 {
    margin: 48px 0px;
    padding: 0px 32px;
  }
}

@media (max-width: 800px) {
  .columns {
    margin-left: 64px;
    margin-right: 64px;
  }

  article {
    flex-basis: 80%;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    max-width: 960px;
  }
}

@media screen and (min-width: 1216px) {
  .container:not(.is-max-desktop) {
    max-width: 1152px;
  }
}

@media screen and (max-width: 1024px) {
  .default-banner .container, .main .container {
      padding: 0 2rem;
  }
}