body {
  font-family: "Metropolis", sans-serif;
}

.header {
  padding-top: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid #ebf2f2;
}

/* .navbar-mobile {
  border-bottom: 1px solid #ebf2f2;
} */

/* .navbar-menu {
  font-weight: 500;
} */

.navbar-link {
  font-weight: 500;
}

.navbar-burger {
  color: #4a4a4a;
  position: absolute;
  top: 0;
  right: 0;
}

.logo {
  width: 300px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 12px;
  padding-right: 12px;
}

.logo .st0,
.logo .st1 {
  fill: #6cb52d;
}

.logo .st3 {
  fill: #fff;
}

.svg-inline--fa {
  margin-left: 8px;
  height: 1em;
}

h1 {
  font-weight: bold;
}

a {
  color: #000000;
  text-decoration: none;
}
a:hover {
  color: #000000;
  text-decoration: none;
}

.description {
  margin-top: 20px;
}

.py-3 {
  padding-left: 12px;
  padding-right: 12px;
}

.project-info h1 {
  font-size: 1.5rem;
}

.my-6 {
  padding: 3rem 2rem;
}

.my-6 h1 {
  font-size: 3.5rem;
  margin-top: 40px;
}

.description {
  font-weight: 400;
  line-height: 2.2rem;
  margin-top: 20px;
  font-size: 1.5rem;
}

.is-hidden-desktop {
  display: none !important;
}

.has-background-light {
  background-color: #ebf2f2 !important;
}

.list {
  display: flex;
  flex-wrap: wrap;

  align-items: stretch;
  justify-content: center;
  margin: 0 auto;
  max-width: 82.5%;
}

.item {
  display: block;
  background-color: #ffffff;
  padding: 30px 20px;
}

.container {
  padding: 32px;
}

.columns {
  margin-left: 84px;
  margin-right: 84px;
}

article {
  flex-basis: 40%;
  flex-grow: 1;
  padding: 0.75rem;
  display: flex;
}

.is-specialitem {
}

.project-item {
  display: flex;
  gap: 20px;
}

.project-item > .image {
  flex: 1 1;
  min-width: 120px;
  /* padding-right: 20px; */
  text-align: center;
}

.project-item > .image > img {
  height: 120px;
  max-width: 120px;
}

.py-3 {
  padding: 0.75em 0;
  line-height: 1.7rem;
}

@media (max-width: 1000px) {
  .is-hidden-desktop {
    display: block !important;
  }

  .is-hidden-mobile {
    display: none !important;
  }

  .project-item {
    flex-direction: column;
  }

  .description {
    font-size: 1.3rem;
  }

  .columns {
    margin-left: 82px;
    margin-right: 82px;
  }

  .logo {
    width: 200px;
  }
}

@media (min-width: 800px) and (max-width: 1000px) {
  .columns {
    margin-left: 82px;
    margin-right: 82px;
  }
}

@media (max-width: 800px) {
  .columns {
    margin-left: 64px;
    margin-right: 64px;
  }

  article {
    flex-basis: 80%;
  }
}
